Second_Chatbot/Node-RED_Flow/flows_2.json
[{"id":"a737355a.92c828","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"527a8b66.a20b14","type":"telegram receiver","z":"a737355a.92c828","name":"","bot":"81579cb0.bc2ef","saveDataDir":"","x":240,"y":240,"wires":[["b0f9e7e6.77f6a8"],["b0f9e7e6.77f6a8"]]},{"id":"ae563577.881a78","type":"telegram sender","z":"a737355a.92c828","name":"","bot":"81579cb0.bc2ef","x":860,"y":240,"wires":[[]]},{"id":"d196c8c5.7a9108","type":"watson-conversation-v1","z":"a737355a.92c828","name":"Conversation","workspaceid":"314b5df0-6cd3-40f6-b6f3-85e4630cd870","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":570,"y":260,"wires":[["528ba6e0.bfc1f8"]]},{"id":"b0f9e7e6.77f6a8","type":"function","z":"a737355a.92c828","name":"Prepare for Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":320,"wires":[["d196c8c5.7a9108"]]},{"id":"528ba6e0.bfc1f8","type":"function","z":"a737355a.92c828","name":"Prepare for Telegram","func":"msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.payload.output.text[0]\n};\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":340,"wires":[["ae563577.881a78"]]},{"id":"81579cb0.bc2ef","type":"telegram bot","z":"","botname":"watson_chat3_kyoyoon_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false}]