Third_Chatbot/Node-RED_Flow/flows_3.json
[{"id":"93338471.59e138","type":"tab","label":"플로우 3","disabled":false,"info":""},{"id":"a9cd143d.eba188","type":"telegram receiver","z":"93338471.59e138","name":"","bot":"b08addc3.c4ba8","saveDataDir":"","x":160,"y":360,"wires":[["1dc3b76e.8ca0f9"],["1dc3b76e.8ca0f9"]]},{"id":"c4049931.a2c328","type":"telegram sender","z":"93338471.59e138","name":"","bot":"b08addc3.c4ba8","x":780,"y":360,"wires":[[]]},{"id":"14c4044c.5fc6ec","type":"watson-conversation-v1","z":"93338471.59e138","name":"Conversation","workspaceid":"7fbe8973-e990-47f0-92c2-113a0d709a69","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":510,"y":340,"wires":[["c89278d5.3e0258"]]},{"id":"1dc3b76e.8ca0f9","type":"function","z":"93338471.59e138","name":"Prepare for Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["14c4044c.5fc6ec"]]},{"id":"c89278d5.3e0258","type":"function","z":"93338471.59e138","name":"Prepare for Telegram","func":"msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.payload.output.text[0]\n};\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":480,"wires":[["c4049931.a2c328"]]},{"id":"b08addc3.c4ba8","type":"telegram bot","z":"","botname":"watson_chat4_kyoyoon_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false}]