First_Chatbot/Node-RED_Flow/flows_1.json
[{"id":"59e57f38.08fc4","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"bbf56f22.da6c1","type":"function","z":"59e57f38.08fc4","name":"Prepare for Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["aa6a61e1.4bbe5"]]},{"id":"e1e437ac.2cb7b8","type":"function","z":"59e57f38.08fc4","name":"Prepare for Telegram","func":"msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.payload.output.text[0]\n};\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":420,"wires":[["7c29cde7.0b0624"]]},{"id":"aa6a61e1.4bbe5","type":"watson-conversation-v1","z":"59e57f38.08fc4","name":"conversation","workspaceid":"043375b9-a6b3-4f45-9c94-5c328ca4aa3f","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":670,"y":320,"wires":[["e1e437ac.2cb7b8"]]},{"id":"3ca3c723.6db8a8","type":"telegram receiver","z":"59e57f38.08fc4","name":"","bot":"e9643d79.f741d","saveDataDir":"","x":320,"y":300,"wires":[["bbf56f22.da6c1"],["bbf56f22.da6c1"]]},{"id":"7c29cde7.0b0624","type":"telegram sender","z":"59e57f38.08fc4","name":"","bot":"e9643d79.f741d","x":1000,"y":320,"wires":[[]]},{"id":"e9643d79.f741d","type":"telegram bot","z":"","botname":"watson_chat2_kyoyoon_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false}]